footer {
    padding: 20px 0px;
    background-color: $corQuarta;
    h2 {
        padding: 10px 0px;
        color: $corTerceira;
        text-transform: uppercase;
    }
    .list-socials {
        display: flex;
        justify-content: center;
        align-items: center;
        .single-social {
            padding: 0px 12px;
            a {
                color: $corTerceira;
                font-size: 32px;
            }
        }
    }
}

@media screen and (max-width: $xsWidth) {
    
}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {

}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {
    footer {
        padding: 20px 0px;
    }
}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
    footer {
        padding: 25px 0px;
    }
}
@media screen and (min-width: $xlWidth) {
    footer {
        padding: 30px 0px;
    }
}