header {
    display: block;
    position: fixed;
	width: 100%;
	z-index: 15;
	background-color: $corPrincipal;
    .content-header{
        color: $corBranco;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px 0px;
        .header-logo {
            img {
                width: 50px;
                height: 50px;
            }
        }
        .header-menu {
            font-size: 30px;
        }
    }
}
.header-bar {
	position: fixed;
    right: -310px;
    top: 0px;
    height: 100%;
    padding: 100px 15px 15px;
    width: 310px;
    background-color: $corPrincipal;
    z-index: 300;
	transition: all 0.3s ease;
	z-index: 14;
    &.fixed {
    	padding: 100px 15px 15px;
    }
	ul {
		list-style-type: none;
		padding-inline-start: 0px;
		padding: 5px;
		li {
			a {
				display: block;
				color: $corBranco !important;
				font-size: 21px;
				padding: 15px 5px;
				text-transform: uppercase;
				transition: all 0.3s ease;
				// border-bottom: solid 1px $corTerceira;
				&:first-child {
					// border-bottom: solid 1px $corTerceira;
				}
				&:hover {
					color: $corTerceira;
				}
			}
		}
	}
	.pre-socials-container {
		ul {
			display: flex;
		    justify-content: center;
		    li {
				border: none;
				a {
					border: none;
				}
		    	i {
		    		font-size: 25px;
		    		padding: 0px 8px;
		    	}
		    }
		}
	}
	&.active {
		right: 0px;
	}
}
@media screen and (max-width: $xsWidth) {
	.header-bar {
		right: -100%;
    	width: 100%;
    	padding: 100px 15px 15px;
    	ul {
			li {
				a {
					font-size: 15px;
					padding: 15px 5px;
				}
			}
		}
	}
    header {
    	.container-header {
    		.header-socials { display: none; }
    		.button-know {
			    position: relative;
			    clear: both;
			    &.know-top {
			    	display: none;
			    }
			    &.know-bottom {
			    	display: block;
			    }
			}
    	}
    }
}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
	.header-bar {
		right: -100%;
    	width: 100%;
    	padding: 100px 15px 15px;
    	ul {
			li {
				a {
					font-size: 16px;
					padding: 12px 5px;
				}
			}
		}
	}
	header {
    	.container-header {
    		.header-socials { margin: 0px; }
    		.button-know {
			    position: relative;
			    clear: both;
			    &.know-top {
			    	display: none;
			    }
			    &.know-bottom {
			    	display: block;
			    }
			}
    	}
    }
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {
	.header-bar {
		right: -310px;
    	width: 310px;
    	ul {
			li {
				a {
					font-size: 18px;
					padding: 12px 5px;
				}
			}
		}
	}
	header {
		.container-header {
			.button-know {
			    position: relative;
			    clear: both;
			     &.know-top {
			    	display: none;
			    }
			    &.know-bottom {
			    	display: block;
			    }
			}
		}
	}
}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
	
}
@media screen and (min-width: $xlWidth) {
	
}