section.section-biography {
    .content-biography {
        padding-top: 15px;
        .img-biography {
            display: block;
            margin: 0px auto;
            border-radius: 50%;
            width: 200px;
            overflow: hidden;
            border: solid 5px $corPrincipal;
            img {
                width: 100%;
            }
        }
        .text-biography {
            padding: 15px 0px;
            color: $corText;
            text-align: left;
            h3 {
                padding: 12px 0px;
            }
            p {
                font-size: 19px;
                padding: 2px 0px;
            }
            button, .btn {
                margin: 15px 0px;
            }
        }
    }
}

@media screen and (max-width: $xsWidth) {
    section.section-biography {
        .content-biography {
            .text-biography {
                text-align: center;
                button, .btn {
                    margin: 15px auto;
                }
            }
        }
    }

}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
    
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {

}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
    
}
@media screen and (min-width: $xlWidth) {
    
}