.home-banner {
    background-color: $corPrincipal;
    color: $corBranco;
    padding-top: 50px;
    .content-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 0px;
        img {
            max-width: 130px;
            display: block;
        }
        h1 {
            font-size: 30px;
            padding: 12px 0px 5px;
        }
        p {
            text-transform: uppercase;
            padding: 5px 0px;
        }
    }
    .home-banner-socials {
        padding: 5px 0px;
        .list-socials {
            display: flex;
            justify-content: center;
            align-items: center;
            .single-social {
                padding: 15px 12px;
                a {
                    font-size: 32px;
                }
            }
        }
    }
}

@media screen and (max-width: $xsWidth) {

}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
    .home-banner {
        padding-top: 70px;
        .content-banner {
            img {
                max-width: 160px;
            }
            h1 {
                font-size: 40px;
                padding: 20px 0px 12px;
            }
            p {
                padding: 5px 0px;
                font-size: 19px;
            }
        }
        .home-banner-socials {
            .list-socials {
                .single-social {
                    a {
                        font-size: 35px;
                    }
                }
            }
        }
    }
    
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {
    .home-banner {
        padding-top: 70px;
        .content-banner {
            img {
                max-width: 180px;
            }
            h1 {
                font-size: 50px;
                padding: 20px 0px 12px;
            }
            p {
                padding: 5px 0px;
                font-size: 19px;
            }
        }
        .home-banner-socials {
            .list-socials {
                .single-social {
                    a {
                        font-size: 35px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
    .home-banner {
        padding-top: 70px;
        .content-banner {
            img {
                max-width: 180px;
            }
            h1 {
                font-size: 50px;
                padding: 20px 0px 12px;
            }
            p {
                padding: 5px 0px;
                font-size: 19px;
            }
        }
        .home-banner-socials {
            .list-socials {
                .single-social {
                    a {
                        font-size: 35px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: $xlWidth) {
    .home-banner {
        padding-top: 70px;
        .content-banner {
            img {
                max-width: 200px;
            }
            h1 {
                font-size: 55px;
                padding: 20px 0px 12px;
            }
            p {
                padding: 5px 0px;
                font-size: 19px;
            }
        }
        .home-banner-socials {
            .list-socials {
                .single-social {
                    a {
                        font-size: 35px;
                    }
                }
            }
        }
    }
}