section#portfolio {
    .title-portfolio {

    }
    .list-portfolio {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        margin: 10px -7px;
        .single-portfolio {
            display: block;
            width: 50%;
            padding: 7px;
            .img-portfolio {
    
            }
        }
    }
}