.home-banner {
    background-color: $corPrincipal;
    color: $corBranco;
    padding-top: 50px;
    .content-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
            max-width: 130px;
            display: block;
        }
        h1 {
            font-size: 15px;
        }
        p {
            text-transform: uppercase;
        }
    }
}